#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Gill Sans";
  background-image: url("/src/assets/pokemon-town.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.btn:hover {
  border-color: white;
}

.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  background-image: url("/src/assets/pokemo_ball.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: "Gill Sans";
}

.card {
  border-style: solid;
  border-color: bisque;
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  height: 430px;
}

.card-container {
  width: 330px;
  height: 465px;
  border: 10px;
  border-color: black;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 8px rgba(226, 220, 220, 0.2);
  background: #FEE465;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-type {
  display: flex;
  flex-direction: row;
}

.pokedetails {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px -5px 12px;
  height: 50px;
}

.pokepic {
  width: 92%;
  height: 170px;
  border-style: inset;
  border-radius: 4px 4px 10px 10px;
  background: bisque;
  text-align: center;
  margin: 0px 0px 2px 10px;
  background-image: url("/src/assets/pokemo_ball.jpg");
  background-position: center;
  background-size: cover;
}

.img {
  width: 60%;
  height: 170px;
}
